*{
    padding: 0;
    margin: 0;
   
}

header{
    background-image: url(./imagen/bmwdef.jpg);
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    
}

main{
    width: 1800px;
    margin: 0 auto;
}

.button{
    align-items: center;
    display: flex;
    height: 41px;
    background: #4285f4;  
    text-align:center;
    border-radius: 3px;
    font-weight: bold;
    line-height: 25px;
    margin-left: 30px;
    margin-top:10px;
    width: 13%;
    margin-bottom: 10px;
    justify-content:center;
    gap: 20px;
}
.menu{
    display:flex;
    justify-content: space-between;
    width:90%;
    border-bottom: 1px solid rgb(159, 155, 155);
    
}

#logo__cabecera img { 
    width: 100px;
    height: 100px;     
}

#logo__cabecera{
    display:inline-block;
    margin-left: 50px;
    margin-top: 5px;
}

.menu__list{
    display: flex;
    gap: 20px;
    color: white;
    list-style-type: none;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 30px;
}

.text__imagen{
    color: white;
    margin-left: 20px;
    margin-bottom: 20px;
}

main{
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    
}

.list__vehiculo{
    border-bottom: 1px solid rgb(159, 155, 155);
}
.list__articulo{
    display: flex;
    justify-content:center;
    gap:100px;
    font-size: 20px;
    
    list-style-type: none;
}

.vehiculo{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem;
}

.modelo{
    width: 400px;
    justify-content: left;
    align-items: center;
    padding:1px;
    margin-bottom: 10px;
    font-size: 15px;
    margin-left: 2rem;
}

.info_first{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-left: 2rem;
    gap:5px;
}

.info1{
    width: 400px;
    flex-direction: column;
    
    display: flex;

    
    
}


.info1 img { 
    
    width: 420px;
    height: 320px;   
    
}

.info_second{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
    
    
}

.info2{
    width: 400px;
    justify-content:left;
    align-items:center;
    padding: 1px;
   
}

.info_third{
    max-width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-left:30% ;
    margin-bottom: 30px;
    
    
}

.info3{
    display: flex;
    max-width: 300px;
    background-color: #F2F2F2;
    margin-top: 30px;
    justify-content: center;
    padding: 30px;
}

.menu__inferior{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: stretch;
    margin-top: 40px;
    border-top: 1px solid rgb(159, 155, 155);
   
}

.menu__infer{
    display: flex;
    justify-content:space-around;
    margin-top: 50px;
   
    ul{
        list-style: none;
        margin-bottom: 20px;
    }
    li{
        list-style: none;
        margin-top: 10px;
       
    }
  

h3{
margin-bottom: 20px;
}

    }
    


ul{
    list-style: none;
    margin-bottom: 20px;
}
li{
    list-style: none;
    margin-top: 10px;
   
}

footer{
    background-color: #F2F2F2;
  padding-top: 80px;
}  
